img {
  width: 300px;
}

.container {
  width: 100%;
  height: 600px;
}

.box {
  display: flex;
  flex-direction: row;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 20px;
  border-radius: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 10px;
  margin-left: 20px;
}

.details a {
  color: mediumpurple;
  text-decoration: none;
}

.details a:hover { 
  text-decoration: underline;
}

h3 {
  color: mediumpurple;
}

h2 { 
  color: mediumpurple;
  font-weight: bolder;
  padding: 20px;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
